menu .menu-links::-webkit-scrollbar { width: 0; }
menu .menu-links{ -ms-overflow-style: none; overflow: -moz-scrollbars-none;}
/* Основные стили меню   */
menu {
    height: 100%;
    min-height: 100vh;
    width: 15%;
    background-color: #181d23;
    z-index: 999999;
}
menu .logo {
    text-align: center;
    padding-top: 33px;
    border-bottom: 1px solid #fff;
    padding-bottom: 33px;
}
menu .logo a {
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
menu .logo a label {cursor: pointer;}
menu .menu-links {
    height: calc(100% - 101px);
    overflow-y: auto;
    margin-top: 30px;
}
/* Верхние елементы меню */
menu a i {
    color: #fff;
    margin-right: 5px;
}
menu li {
  fill: #afafaf;
  color: #afafaf;
}
menu li:hover {
  background-color: #222932;
  border-left-width: 6px;
  border-left-style: solid;
  border-left-color: #30a063;
}
menu li {
  font-size: 0.9em;
  padding: 11.6px;
  border-left-width: 6px;
  border-left-style: solid;
  border-left-color: #181d23;
  font-weight: 400;
}
.li-active {
  background-color: #222932;
  border-left: 6px solid #30a063 !important;
  color: #fff;
}
.li-active .cls-1 {
  fill: #f9f9f9 !important;
}
.li-active li a {
 color: #f9f9f9 !important;
}
.show {
    transition: left 0.4s linear 0s;
    left: 0!important;
    top: 50px;
    z-index: 9;
}

@media screen and (min-width: 240px) and (max-width: 767px) {
    menu {
        position: fixed;
        transition: left 0.4s linear 0s;
        width: 25%;
        z-index: 9;
        left: -100%;
        top: 50px;
    }
    menu svg    {display: none;}
    menu .logo {
      display: none;
    }
    menu .logo a {display: none!important;}
    menu .logo svg {
      display: inline-block!important;
      height: 43px!important;
      fill: #fff!important;
    }
    menu li {font-size: 14px; padding: 9px 0px!important;text-indent: 15px;}

}
@media screen and (min-width: 240px) and (max-width: 375px) {
    menu {width: 45%;}
    menu li {font-size: 14px;}
}
@media screen and (min-width: 376px) and (max-width: 640px) {
    menu .menu-links {height: 120vh; margin-bottom: 20px;}
    menu {top: 50px; overflow: auto;width: 30%;}
    .show {top: 50px;}
    menu li {text-align: left!important; padding-left: 20px!important;}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    menu svg {display: none;}
    menu li {font-size: 0.7em;}
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    menu svg {max-width: 13px;}
    menu li {font-size: 0.7em;}
}
@media screen and (min-width: 1439px) {
    menu li {font-size: 1em;}
}

@media screen and (min-width: 1919px) {
    menu li {font-size: 1.2em;}
}
